<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Map Attack | Editor</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/lib/leaflet.css">
  <link rel="stylesheet" href="/lib/leaflet.draw.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="/lib/leaflet.ie.css">
    <link rel="stylesheet" href="/lib/leaflet.draw.ie.css">
  <![endif]-->
  <link rel="stylesheet" href="/css/main.css">
  <%- partial('partials/_html5shiv') %>
</head>
<body>
  <%- partial('partials/_ie') %>
  <%- partial('partials/_transparent_nav') %>

  <div class="wrapper transparent">
    <div id="map"<% if (locals.board || locals.boardId) { %> data-board-id="<%- locals.boardId || findIdInTags(board.tags, 'board') %>"<% } %>></div>
    <div class="edit-tools">
      <% if (locals.board) { %>
        <p><%= board.properties.title ? board.properties.title : '' %></p>
        <p class="secondary"><%= board.properties.city ? board.properties.city : '' %></p>
      <% } else { %>
        <p>Can't Find Board</p>
      <% } %>
    </div>
  </div>

  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/leaflet.js"></script>
  <script src="/lib/leaflet.draw.js"></script>
  <%- partial('partials/_ga') %>
  <script src="/js/board.js"></script>
</body>
</html>
