<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Map Attack | Home</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/main.css">
  <%- partial('partials/_html5shiv') %>
</head>
<body>
  <%- partial('partials/_ie') %>
  <%- partial('partials/_nav') %>

  <%- body -%>

  <script src="/lib/jquery.min.js"></script>
  <%- partial('partials/_ga') %>
  <script src="/js/main.js"></script>
</body>
</html>
