<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Map Attack | Viewer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/lib/leaflet.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="/lib/leaflet.ie.css">
  <![endif]-->
  <link rel="stylesheet" href="/css/main.css">
  <%- partial('partials/_html5shiv') %>
</head>
<body ng-app="MapAttackViewer">
  <%- partial('partials/_ie') %>
  <%- partial('partials/_transparent_nav') %>

  <div ng-controller="GameCtrl" class="wrapper transparent">
    <section class="scoreboard">
      <header class="title">
        <% if (state) { %>
          <span class="board-title" ng-bind="game.name"><%= state.game.name %></span>
        <% } %>
        <span class="total-players" ng-bind="game.teams.blue.size + game.teams.red.size + ' players'"><%- state.game.teams.blue.size + state.game.teams.red.size %> players</span>
      </header>
      <div class="col-group">
        <div class="score blue col col1of2 on-blue">
          <span class="color">Blue</span>
          <span class="number" ng-bind="game.teams.blue.score"><%- state.game.teams.blue.score %></span>
        </div>
        <div class="score red col col1of2 on-red">
          <span class="number" ng-bind="game.teams.red.score"><%- state.game.teams.red.score %></span>
          <span class="color">Red</span>
        </div>
    </section>

    <section class="leaderboard blue">
      <ul class="players">
        <li ng-repeat="player in playerListing | orderBy:'-score' | filter:{team:'blue'}" ng-cloak class="player" style="background-image:url(http://api.mapattack.org/user/{{player.id}}.jpg)">
          <span class="player-name">{{player.name}}</span>
          <span class="points right">{{player.score}}</span>
        </li>
      </ul>
    </section>

    <section class="leaderboard red">
      <ul class="players">
        <li ng-repeat="player in playerListing | orderBy:'-score' | filter:{team:'red'}" ng-cloak class="player" style="background-image:url(http://api.mapattack.org/user/{{player.id}}.jpg)">
          <span class="player-name">{{player.name}}</span>
          <span class="points right">{{player.score}}</span>
        </li>
      </ul>
    </section>

    <board bbox="<%- state.game.bbox %>"></board>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
  <script type="text/javascript" src="http://api.mapattack.org:8000/socket.io/socket.io.js"></script>
  <script src="/lib/leaflet.js"></script>
  <%- partial('partials/_ga') %>
  <script type="text/javascript">var gameData = <%- JSON.stringify(state) %>;</script>
  <script src="/js/viewer.js"></script>
</body>
</html>
